# Server configuration
PORT=8080

# Spring Database configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/vertex
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_db_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

# JWT Security configuration
# Change this to a secure 256-bit base64-encoded secret key in production
JWT_SECRET=your_base64_encoded_jwt_secret
JWT_EXPIRATION=86400000

# PostgreSQL container configurations
POSTGRES_DB=vertex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password
